form {
  .input-field {
    margin-right: 8px;
    height: 44px;
    width: 200px;
    border-radius: 22px;
    border: none;
    padding-left: 16px;
    color: var(--fontClr);
    font: var(--font);
    font-size: 0.813rem;
    letter-spacing: -0.1px;
    font-weight: 400px;

    &::placeholder {
      font-family: var(--font);
      font-size: 0.813rem;
      letter-spacing: -0.1px;
    }
  }

  .invalid {
    outline: 1px solid var(--primary);
    color: var(--primary);
  }

  .btn-submit {
    width: auto;
    padding: 0 24px;
    background: var(--primary);
    color: #fcf6f5;

    &:hover,
    &:active {
      background-color: #f98f75;
    }
  }

  .error-msg {
    margin: 4px 0 0 14px;
    color: var(--primary);
    font-size: 0.625rem;
    font-style: italic;
    font-weight: 400;
    letter-spacing: -0.077px;
  }
}
