footer {
  padding: 62px var(--paddingX);
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-icons-container {
    display: flex;
    flex-direction: column;
    gap: 70px;

    .icons-wrapper {
      display: flex;
      gap: 12px;

      & a {
        color: white;
        font-size: 22px;
        transition: 250ms ease;

        &:hover,
        &:active {
          color: var(--primary);
        }
      }
    }
  }

  .footer-links-container {
    display: flex;
    justify-content: space-between;
    width: 380px;
    /* border: var(--inspect); */

    .link-col-1,
    .link-col-2 {
      display: flex;
      flex-direction: column;
      gap: 13px;

      & a {
        font-size: 0.938rem;
        font-weight: 400;
        letter-spacing: -0.234px;
        color: white;
        text-transform: capitalize;
        transition: 250ms ease;

        &:hover,
        &:active {
          color: var(--primary);
        }
      }
    }
  }

  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;

    & p {
      color: rgba(255, 255, 255, 0.5);
      text-align: right;
      font-size: 0.813rem;
      font-weight: 400;
      letter-spacing: -0.203px;
    }
  }
}
