/* Imports */
@import "./components/Navbar/navbar.css";
@import "./components/Button/button.css";
@import "./components/Incentive/incentive.css";
@import "./components/About/about.css";
@import "./components/Footer/footer.css";

/* Resets */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Variables */
:root {
  --primary: #f3603c;
  --secondary: #1d1e25;
  --bgClr: #fff;
  --fontClr: #242d52;
  --fontLucent: rgba(36, 45, 82, 0.6);
  --accent: #fff0ec;
  --font: "Be Vietnam Pro", sans-serif;
  --inspect: solid red 1px;
  --paddingX: 165px;
}

/* Main */
body {
  background: var(--bgClr);
  font-family: var(--font);
  color: var(--fontClr);
  min-height: 100vh;
}

main {
  border: var(--inspect);
  max-width: 1440px;
  margin: 0 auto;
}

.body-text {
  color: var(--fontLucent);
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.logo-wrapper {
  margin-top: 5px;
}
